[submodule "themes/hermit"]
	path = themes/hermit
	url = https://github.com/skibitsky/hermit.git
[submodule "public"]
	path = public
	url = https://github.com/skibitsky/skibitsky.github.io.git
	branch = master
[submodule "themes/hello-friend-ng"]
	path = themes/hello-friend-ng
	url = https://github.com/rhazdon/hugo-theme-hello-friend-ng.git
